body{
    background-color: #FAFAFA;
    font-family: Space Grotesk;
}

.navbar{
   
    min-width: auto;
    height: 50px;
    background-color: white;
    padding: 7px;
    align-items: center;
    
}

li{
    display: inline;
}

.nav_left{
    font-family: Oleo Script;
    float: left;
    padding-left: 10em;
}

.nav_center{
    display: flex;
    gap: 2em;
    padding-left: 30em;
    align-items: center;
    
}

.nav_right{
    float:right;
    width: 50px;
    margin-right: 40px;
    
}

.nav_right button{
    background-color: #0F298B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin:0px 0px 0px 0px;
}
 a:visited{
    color: #0F298B;
 }
 a:link{
    color: black;
 }